
.aceuil{
    li{
        margin-left: 5rem;
        color: black;
        list-style: "-";
        &.checked{
            margin-bottom: 10px;
            list-style: "✔";
            &::marker{
                color: #2bcf2b;
                padding-right: 10px;
            }
        }
        
        

    }
}
