
.aceuil{
    li{
        padding: 10px;
        margin-left: 5rem;
        color: black;
        list-style: "-";
        &.checked{
            list-style: "✔";
            // color: #2bcf2b;
        }
        

    }
}
